# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# ChromaDB
# ==========================
chroma_db/

# ==========================
# Cache Files
# ==========================
*.pkl

# ==========================
# Jupyter Notebook
# ==========================
RAG_Demo.ipynb
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

Reboot_Sequences_Formatted.pdf