langchain==0.3.30
langchain-core==0.3.86
langchain-community==0.3.31
langchain-text-splitters==0.3.11
langchain-chroma==0.2.6
langchain-huggingface==0.3.1
langchain-groq==0.2.3
chromadb
sentence-transformers
huggingface_hub
rank_bm25
python-dotenv
beautifulsoup4
lxml
unstructured
streamlit
ipykernel
ddgs
ragas==0.2.15
pandas
datasets==2.21.0
openpyxl